.report-page{
    height: 100vh;
    width: 100vw;
    background-image:
        radial-gradient(
       #b5ab19,
        #f7ef18
        );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #686105;
    h1 {
        font-family: 'Monoton';
        text-transform: uppercase;
        margin-bottom: 0;
        width: 100%;
        height: 2rem;
        padding: 2rem 10px 0 10px;
        font-weight: lighter;
        font-size: 36px;
    }
    p{
        margin-top:0;
    }
    form{
        border: none;
        padding: 0;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       .selectbox{
            border-bottom: 1px dashed #ede57b;
            width: 92%;
            margin-bottom: 20px;
            select{
                font-family: 'Roboto';
                border: 0;
                background: transparent;
                color: #686105;
                font-size: 20px;
                width:100%;  
                appearance: none;
                padding: 0 10px;
            }
        }
        textarea{
            width: 90%;
            height: 200px;
            padding: 10px 10px;
            margin-bottom: 20px;
            border: 0;
            outline: 0;
            background-color: #ede57b;
            font-size: 20px;
            font-family: 'Roboto';
        }
        input:focus{
            box-shadow: 0;
        }
        ::placeholder{
            color: #686105;
            font-size: 20px;
        }
    }
}
button{
    background: transparent;
    border: none;
    height: 100px;
    width: 90%;
    color: #686105;
    font-size: 30px;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
}

.submitting{
    .selectbox{
        animation: alert-border 0.5s infinite; 
    }
    textarea{
        animation: alert-border 0.5s infinite;
    }
}
@keyframes alert-border{
    0%{
        box-shadow: 0 0 0 0rem rgba(248, 67, 67,.7);
    }
    100%{
        box-shadow: 0 0 0 0.7rem rgba(248, 67, 67,0);
    }
}