.notfound-page{
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    h1 {
        text-transform: uppercase;
        padding: 3rem 1rem 1rem 1rem;
        border-bottom: 1px solid red;
        font-weight: lighter;
        font-size: 30px;
        font-family: 'Monoton';
    }
    p {
        padding: 1rem;
        font-size: 20px; 
        line-height:1.1;
    }
    h2{
        font-size: 18px;
    }
    a{
        width: 127px;
        height: 127px;
        display:block;
        opacity: 0.9;
        border-radius: 47%;
        background: url('../images/clickhere.gif') center no-repeat;
        background-size: 140px 140px;

    }
}