<div class="encounters-page">
  <div class="encounters-header">
    <h1>Recent Encounters</h1>
    <p>See an Alien? Report it!</p>
  </div>
  <div class="textarea">
    <li class="alien-list" *ngFor="let encounter of encounters">
      <p>{{ encounter.date }}-{{ encounter.atype }}</p>
      <p>{{ encounter.action }}</li>  
  </div>

  <div class="encounters-footer">
    <a routerLink="/report" routerLinkActive="active">
      <button type="submit">Report Encounter</button>
    </a>
  </div>
</div>
