.encounters-page{
    display: flex;
    flex-direction:column;
    height: 100vh;
    text-align: center;
    .encounters-header{
        top:0;
        left:0;
        background: white;
        padding: 10px 0;
    }
    h1{
        font-size: 38px;
        font-family: 'Monoton';
        text-transform: uppercase;
        font-weight: lighter;
        margin: 1rem 0 0 0;
        width:100%;
    }
    p{
        font-size: 17px;
        margin-top: 0;
        width: 100%;
    }
    .textarea{
        flex: 1;
        padding: 2rem 1rem;
        overflow: scroll;
        list-style:none;
        text-align:left;
        li{
            font-size: 18px;
            width: 100%;
            margin-bottom: 1rem;
            color: #7a7a7a;
        }
    }
}
.encounters-footer{
    flex: .5;
    left: 0;
    bottom: 0;
    height: 170px;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        color: white;
        background: transparent;
        border: none;
        padding: 30px;
        font-size: 38px;
        font-weight: lighter;
    }
}