
.home-page{
    height: 100vh;
    background-image:
        radial-gradient(
        #f2966a,
        #e8391e
        );
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #edac8e;
    h1 {
        text-transform: uppercase;
        padding: 0 1rem;
        margin-top: 80px;
        font-weight: lighter;
        font-size: 36px;
    }
    p {
        padding: 1rem;
        font-size: 33px;
        margin-bottom: 70px; 
    }
    a{
        width: 127px;
        height: 127px;
        display:block;
        border-radius: 50%;
        background: url('../images/mars.gif') center no-repeat;
        background-size: 150px 150px;
        opacity: 0.9;
        animation: button-beat 0.8s infinite;
    }
}

@keyframes button-beat {
    0%{
        box-shadow: 0 0 0 1rem rgba(255,255,255,0.05), 0 0 0 2rem rgba(255,255,255,0.05), 0 0 0 3rem rgba(255,255,255,0.05);
    }

    100%{
        box-shadow: 0 0 0 3rem rgba(255,255,255,0.05), 0 0 0 2rem rgba(255,255,255,0.05), 0 0 0 1rem rgba(255,255,255,0.05);
    }
}
