.register-page{
    height: 100vh;
    width: 100vw;
    background-image:
        radial-gradient(
        #2f3a4f,
        #181e28
        );
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        font-family: 'Monoton';
        text-transform: uppercase;
        color: #b5b5cc;
        width: 100%;
        height: 30px;
        padding: 10px;
        margin: 3rem auto 3rem;
        font-weight: lighter;
        font-size: 36px;
    }
    form{
        border: none;
        padding: 0;
        width: 100vw;
        height: 130px;
        input{
            width: 90%;
            padding: 10px 10px;
            margin-top: 15px;
            margin-bottom: 20px;
            background-color: #374151;
            color:white;
            font-size: 20px;
            font-family: 'Roboto';
            border: 0;
            outline: 0;
            border-bottom: 1px dashed #4f5c72;
        }
        input:focus{
            outline: #4c83db solid 2px;
        }
        ::placeholder{
            color: #b5b5cc;
            font-size: 20px;
        }
    }
}
.selectbox{
    border-bottom: 1px dashed #4f5c72;
    width: 95%;
    height: 30px;
    margin: 1rem auto;
    select{
        border: 0;
        background: transparent;
        font-family: 'Roboto';
        color: #b5b5cc;
        font-size: 20px;
        width:100%;  
        appearance: none;
        padding: 0 10px;
    }
}
button{
    background: transparent;
    border: none;
    height: 100px;
    width: 90%;
    color: #b5b5cc;
    font-size: 30px;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif;
}
.submitting{
    input{
        animation: alert-border 0.5s infinite; 
    }
    .selectbox{
        animation: alert-border 0.5s infinite;
    }
}

@keyframes alert-border{
    0%{
        box-shadow: 0 0 0 0rem rgba(248, 67, 67,.7);
    }
    100%{
        box-shadow: 0 0 0 0.7rem rgba(248, 67, 67,0);
    }
}