
<div class= "register-page">
  <h1>Register</h1>

  <form [formGroup]="registerForm">

      <input type="text" placeholder="Name" required formControlName="name" name="name">
      <input type="text"  placeholder="Age" required formControlName="age" name="age"> 
         <div class="selectbox">
            <select required formControlName="job_id" name="job_id">
              <option value="none">Select occupation</option>
              <option *ngFor="let job of marsJobs" value="{{ job.id }}">{{ job.name }}</option> 
            </select>   
        </div>
  </form>
  <button (click)="logColonist()">Check in</button>
</div>
